$main-bg: #141616;
$sec-bg: #1a1a1a;
$dark-low-opacity: rgba(26, 26, 26, 0.85);
$contrast-bg: #239e56;
$font: roboto, arial;
$text-color-bright: #d0d0d0;

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: $sec-bg;
    background-image: url(src/2022-04-04_02.51.26.png);
    font-family: $font;
}

.header{
    display: flex;
    justify-content: left;
    background-color: $main-bg;

    .hImg{
        margin-right: 1rem;
        size: rem;
        width: 4rem;
        height: 7rem;
    }

    .hTitle{
        margin-top: 1.5rem;
        text-align: center;
        font-size: 3rem;
        color: $text-color-bright;
    }

    .hPages{
        display: flex;
        justify-content: left;
        margin: 0 2rem;
        font-family: $font;
        font-size: 3rem;

        .hPButton {
            background-color: $sec-bg;
            text-decoration: none;
            
            :hover{
                background-color: $contrast-bg;
            }

            .hPSubText {
                text-align: center;
                transition: 400ms;
                padding: 1.7rem 1rem;
                color: $text-color-bright;
                cursor: default;
                text-decoration: none;
                border-bottom: 0;
            }
        }
        
    }
}

.mainIcon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.tempInfo{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 3rem;
    background-color: $dark-low-opacity;
    padding: 1rem;
    width: 80%;
    border-radius: 1rem;
    color: $text-color-bright;
}